<div class="panel" style="width: 100%;"  borderless style="box-shadow: none;">

    <div style="margin-left: 25px">
        <h4>Manage events</h4>
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <button type="button" class="btn btn-warning" onclick="alert('Nothing happened :-)')">Press me!</button>
            </div>
            <div class="col-md-3 col-xs-3"  style="margin-left: 20px">
                <button type="button" class="btn btn-info">Yoo</button>
            </div>
            <div class="col-md-3 col-xs-3"  style="margin-left: 20px">
                <select>
                    <option value="1">--right-</option>
                    <option value="2">-H2O-</option>
                    <option value="3">--great 3--</option>
                    <option value="4">--Just 4--</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin: 30px;margin-left: 0;">
            <table class="table table-condensed" style="">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
            </table>
        </div>
    </div>
</div>