<div class="panel" style="width: 100%;"  borderless style="box-shadow: none;">

    <div style="margin-left: 25px">
        <h4 >Manage applications</h4>
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <button type="button" class="btn btn-success">Great button</button>
            </div>
            <div class="col-md-3 col-xs-3"  style="margin-left: 20px">
                <button type="button" class="btn btn-primary">Just nice button</button>
            </div>
            <div class="col-md-3 col-xs-3"  style="margin-left: 20px">
                <select>
                    <option value="1">left</option>
                    <option value="2">-H2O-</option>
                    <option value="3">--great 3--</option>
                    <option value="4">--Just 4--</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin: 30px;margin-left: 0; width: 100%">
            <table class="table">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Points</th>
                    <th>Q-Points</th>
                    <th>A-Points</th>
                    <th>B-Points</th>
                </tr>
                <tr>
                    <td>Moo</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>55</td>
                    <td>56</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>J777kson</td>
                    <td>94</td>
                    <td>54</td>
                    <td>74</td>
                    <td>04</td>
                </tr>
                <tr>
                    <td>bla</td>
                    <td>Jackson</td>
                    <td>c94</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>J56kson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>44ackson</td>
                    <td>944</td>
                    <td>1244</td>
                    <td>5554</td>
                    <td>99944</td>
                </tr>
            </table>
        </div>
    </div>
</div>